<?php declare(strict_types=1);

use PhpCsFixer\Config;
use PhpCsFixer\Finder;
use PhpCsFixerCustomFixers\Fixer;
use PhpCsFixerCustomFixers\Fixers;

$finder = Finder::create()
    ->exclude(__DIR__ . '/var')
    ->in(__DIR__);

$header = <<<EOF
The MIT License (MIT)

Copyright (c) Michael Telgmann

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
EOF;

return Config::create()
    ->setRiskyAllowed(true)
    ->setUsingCache(false)
    ->registerCustomFixers(new Fixers())
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'ordered_class_elements' => true,
        'ordered_imports' => true,
        'method_argument_space' => ['on_multiline' => 'ensure_fully_multiline'],
        'phpdoc_order' => true,
        'phpdoc_summary' => false,
        'blank_line_after_opening_tag' => false,
        'concat_space' => ['spacing' => 'one'],
        'array_syntax' => ['syntax' => 'short'],
        // Removes @param and @return tags that don't provide any useful information.
        'no_superfluous_phpdoc_tags' => true,
        'void_return' => true,
        'class_attributes_separation' => ['elements' => ['method', 'property']],
        // add declare strict type to every file
        'declare_strict_types' => true,
        // use native phpunit methods
        'php_unit_construct' => true,
        // Enforce camel case for PHPUnit test methods
        'php_unit_method_casing' => ['case' => 'camel_case'],
        'yoda_style' => ['equal' => false, 'identical' => false, 'less_and_greater' => false],
        'php_unit_test_case_static_method_calls' => true,
        // comparisons should always be strict
        'strict_comparison' => true,
        'php_unit_dedicate_assert' => ['target' => 'newest'],
        'php_unit_dedicate_assert_internal_type' => true,
        'php_unit_mock' => true,
        'php_unit_mock_short_will_return' => true,
        // functions should be used with $strict param set to true
        'strict_param' => true,
        'array_indentation' => true,
        'compact_nullable_typehint' => true,
        'modernize_types_casting' => true,
        'mb_str_functions' => true,
        Fixer\SingleSpaceAfterStatementFixer::name() => true,
        Fixer\NoUselessCommentFixer::name() => true,
        Fixer\NoImportFromGlobalNamespaceFixer::name() => true,
        Fixer\OperatorLinebreakFixer::name() => true,
        Fixer\PhpdocNoIncorrectVarAnnotationFixer::name() => true,
        Fixer\NoUnneededConcatenationFixer::name() => true,
        Fixer\NullableParamStyleFixer::name() => true,
        'general_phpdoc_annotation_remove' => [
            'annotations' => ['copyright', 'category'],
        ],
        'single_line_throw' => false,
    ])
    ->setFinder($finder);
