{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create new player</h1>

    {{ form_start(playerForm) }}
    {{ form_widget(playerForm) }}
    {{ form_end(playerForm) }}
    <br>
    <br>
    <a href="{{ path('app_doko_index') }}">Back to homepage</a>
{% endblock %}
