{% extends 'base.html.twig' %}

{% block body %}
    <h1>Doko App</h1>

    <a href="{{ path('app_doko_showscoreboard') }}">Show scoreboard</a>
    <br>
    <a href="{{ path('app_doko_enterpoints') }}">Enter points</a>
    <br>
    <a href="{{ path('app_doko_createplayer') }}">Create new player</a>
{% endblock %}
