name: Code Check

on: [push]

jobs:
    static_analysis:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v5

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 7.4

            -   name: Validate composer.json and composer.lock
                run: composer validate

            -   name: Install dependencies
                run: composer install --prefer-dist --no-progress --no-suggest

            -   name: Check code style
                run: make fix-cs

            -   name: Static code analysis with PHPStan
                run: make phpstan

            -   name: Lint Twig templates
                run: bin/console lint:twig templates

            -   name: Lint Yaml files
                run: bin/console lint:yaml config

            -   name: Lint container
                run: bin/console lint:container

            -   name: Lint translations
                run: bin/console lint:xliff translations

    unit_test:
        needs: static_analysis
        runs-on: ubuntu-latest

        services:
            mysql:
                image: mysql:8.0

        steps:
            -   uses: actions/checkout@v5

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 7.4

            -   name: Execute PHPUnit tests
                run: |
                    sudo service mysql start
                    composer install --prefer-dist --no-progress --no-suggest
                    bin/console doctrine:database:create
                    bin/console doctrine:schema:create
                    make phpunit
                env:
                    APP_ENV: test
                    DATABASE_URL: mysql://root:root@127.0.0.1:3306/doko_app
